/*
Wecome to the styles.scss!
Styling for tempalte creation.
Here is where you will be doing the stying and or calling other .scss files
Once you review some of the code here, go ahead and delete from the 'Remove' comment
 */


/* Dont need to delete below */

@import "fonts/proxima";
@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
template-container,
.template-container,
.template-wrapper {
    width: 100%;
    height: 100%;
}

// ^^ The code above for the most part would not need changing
// Remove From HERE ..................................................
.main-container {
    font-family: "Proxima Nova";
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .heading {
        color: black;
    }
    .container {
        width: 90%;
        height: 60vh;
        display: flex;
        justify-content: center;
        span {
            font-weight: 700;
            color: $cool-Red;
        }
        .files {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            flex: 1;
            .title {
                color: rgb(0, 0, 0);
            }
            .box {
                height: 55vh;
                width: 30vw;
                padding: 5px;
                border: 1px solid black;
                li {
                    font-size: 2.5vh;
                    border-bottom: 1px solid rgba(167, 172, 174, 0.5);
                    list-style-type: none;
                    margin-bottom: 1.5vh;
                    width: 100%;
                }
                p {
                    font-size: 1.5vh;
                }
                .sample-image {
                    display: flex;
                    justify-content: center;
                }
                .inspect-me {
                    color: rgb(255, 255, 255);
                    text-align: center;

                }
            }
        }
    }
    .elements {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5vh;
        .paginate {
            width: 50vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $cool-Red;
            border: 1px solid black;
            margin: 1px;
          
        }
    }
}

// ......................................................T0 HERE